

body {
      font-family: 'Josefin Sans', sans-serif;
      scroll-behavior: smooth;
    }
    .menu-item {
      transition: transform 0.3s ease;
    }
    .menu-item:hover {
      transform: translateY(-5px);
    }
    .shadow-custom {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
    .border-custom {
            border: 6px double #d97706;
        }
    .transition-slow {
            transition: all 0.5s ease;
        }